html {
    /* background-color: #FFF4F4; */
    /* background-color: #d52e3f; */
    color: #606C5D;
    opacity: revert-layer;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-family: 'Nerko One', cursive;
    /* font-size: 15rem;
    text-align: center;
    /* height: 90vh; */
    /* font-weight: 700;
    margin: 0; */ 

    /* text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b, 20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b, 35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b */
}

#blah{
    margin-top: 5em;
    margin-left: 5em;
    width: 50%;
}

p{
    text-align: justify;
    color: #606C5D;
    font: 1.2em italic small-caps , sans-serif  ;
}

span{
    font: 20px;
}

.highlight{
    text-decoration: underline #F1C376;
}

@counter-style q {
    system: cyclic;
    symbols: "\1F431" "\1F436" "\1F984";  
    suffix: " "    ;
  }
  
  
  li {
    list-style-type: q;
  }

  a:visited{
    color: rebeccapurple ;
  }

  a:hover{
    background-color: maroon;

  }

  a{
    text-decoration: none;
    color: #F1C376;
}





  /* p::before{
    content:"\1F431" ;
  } */

