body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9DB2BF;
}

.spinner {
  height: 300px;
  width: 300px;
  background: conic-gradient(maroon, orange, gold, green, navy, purple, indigo, maroon);
  box-shadow: inset 0px 0px 110px -70px black;
  border: 5px solid white;
  animation: spin 2s infinite linear;
  border-radius: 50%;
  position: relative;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.spinner::after{
    content: "";
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: inset 0px 0px 110px -60px black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;

}
